.nav {
  grid-area: n;
  background-color: burlywood;
}

.item {
  color: white;
  font-weight: bold;
  margin: 15px;
  text-decoration: none;
}

.active {
  color: black;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none;
}